<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
         point="org.eclipse.ui.views">
      <view
      		category="org.polarsys.capella.views.category"
            id="org.eclipse.xtext.example.domainmodel.embeddededitor.views.EmbeddedEditorView"
            name="Textual Editor"
            icon="icons/capella_edit_16.gif"
            class="org.polarsys.capella.scenario.editor.embeddededitor.views.EmbeddedEditorView"
            inject="true">
      </view>
   </extension>
   <!--
      <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="capella.sirius.perspective">
         <view
               id="org.eclipse.xtext.example.domainmodel.embeddededitor.views.EmbeddedEditorView"
               minimized="false"
               relationship="stack"
 			   visible="false"              
               relative="org.eclipse.ui.views.PropertySheet"
               >
         </view>
      </perspectiveExtension>
   </extension>
   -->
   <!--
   <extension
         point="org.eclipse.sirius.sessionManagerListener">
      <listener
            class="org.polarsys.capella.scenario.editor.embeddededitor.listener.EmbeddedEditorSessionListener">
      </listener>
   </extension>
   -->
	
	<extension
         point="org.eclipse.ui.bindings">
	     <key
	      	contextId="org.eclipse.xtext.ui.embeddedTextEditorScope"
            schemeId="org.polarsys.capella.core.defaultAcceleratorConfiguration"
            sequence="F2"/>
     	 <key
     	 	contextId="org.eclipse.xtext.ui.embeddedTextEditorScope"
            schemeId="org.polarsys.capella.core.defaultAcceleratorConfiguration"
            sequence="CTRL+HOME"/>
     	 <key
     	 	contextId="org.eclipse.xtext.ui.embeddedTextEditorScope"
            schemeId="org.polarsys.capella.core.defaultAcceleratorConfiguration"
            sequence="CTRL+L"/>
         <key
     	 	contextId="org.eclipse.xtext.ui.embeddedTextEditorScope"
            schemeId="org.polarsys.capella.core.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+Y"/>
    </extension>  

</plugin>
