<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Editor Category"
            id="org.eclipse.xtext.example.domainmodel.embeddededitor">
      </category>
      <view
            id="org.eclipse.xtext.example.domainmodel.embeddededitor.views.EmbeddedEditorView"
            name="Scenario Editor"
            icon="icons/scenario.gif"
            class="org.polarsys.capella.scenario.editor.embeddededitor.views.EmbeddedEditorView"
            category="org.eclipse.xtext.example.domainmodel.embeddededitor"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.eclipse.xtext.example.domainmodel.embeddededitor.views.EmbeddedEditorView"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               ratio="0.5">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
   <extension
         point="org.eclipse.sirius.sessionManagerListener">
      <listener
            class="org.polarsys.capella.scenario.editor.embeddededitor.listener.EmbeddedEditorSessionListener">
      </listener>
   </extension>

</plugin>
