<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Editor"
            id="org.eclipse.xtext.example.domainmodel.embeddededitor">
      </category>
      <view
            id="org.eclipse.xtext.example.domainmodel.embeddededitor.views.EmbeddedEditorView"
            name="Textual Editor"
            icon="icons/capella_edit_16.gif"
            class="org.polarsys.capella.scenario.editor.embeddededitor.views.EmbeddedEditorView"
            category="org.eclipse.xtext.example.domainmodel.embeddededitor"
            inject="true">
      </view>
   </extension>
      <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="capella.sirius.perspective">
         <view
               id="org.eclipse.xtext.example.domainmodel.embeddededitor.views.EmbeddedEditorView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               >
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
   <extension
         point="org.eclipse.sirius.sessionManagerListener">
      <listener
            class="org.polarsys.capella.scenario.editor.embeddededitor.listener.EmbeddedEditorSessionListener">
      </listener>
   </extension>

</plugin>
